*{padding: 0;margin: 0;}
.container{height: 150vh;
			width: 100vw;
			color:#444;
			background:#f232;
			text-align: center}	

.intro_paragraph{text-decoration: none;
		font-size: 25px;
		padding: 5px;
		margin: 5px 10px;
		}

.love{padding-top: 15%;
		height: 150vh;
		width: 100vw;
		text-align: center}	}

.love h2{font-size: 72px;margin-bottom: 30px;}
.container h2{font-size: 72px;margin-bottom: 30px;}
.love span{color:#eba2da;}
.love a{text-decoration: none;
		font-size: 25px;
		background: #eee;
		padding: 5px;
		margin: 5px 10px;
		border:3px solid #ddd;
		border-radius:10px;
}

.paragraph{
	font-size: 25px;

}
		

#no{color:red;}
#yes{color:green;}

.documents{width: 100vw;
			color:#222;
			background:#345eeb;
			text-align: Center;
			height: 180vh}

.documents button {
  background-color: #04AA6D;
  border:3px solid;
  border-color: black;
  border-radius:10px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;

}

.documents form {
	width : 50%;
	background: lightblue;
	margin: 0 auto;
	border-color: black;
	border:3px solid;
border-radius:5px
}
	
			
			